/* Wrapper div for fixed buttons */
.fixed-buttons {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
  }
  
  /* Common button styles */
  .fixed-buttons button {
    padding: 15px;
    border-radius: 100%;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: background 0.3s ease;
    background-color: #f94883;
  }
  
  .fixed-buttons button:hover{
    background-color:#e91e63;
  }

  .toggle-image{
    height: 28px;
  }
  