.event-page-heading{
    text-align: center;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.event-page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-title .title-section {
  z-index: -1;
  padding-bottom: 5em;
  padding-top: 5em;
}

.event-page-card{
    width: 80vw;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    padding: 1rem;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.event-page-card:hover {
    transform: translateY(-4px);
  }